@media(max-width:768px){
    .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      
      .line {
        height: 4px;
        width: 40px;
        background-color: white;
        margin: 6px 40px;
      }
    .header-list> ul {
        visibility: hidden;
    }
    
    .header-content{
        margin: 0;
    }
    .header-nav{
        padding: 20px;
    }

    .headerline-p{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        text-align: left;
        padding-left: 27px;
        padding-right: 8px;
    }
    

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project{
        padding-bottom: 38px;
    }
    
    .footer-padd{
        padding-bottom: 19px;
    }

    .header{
        background-size: cover;
        background-position: right;
        margin: 0 auto;
        color: #ffffff;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    #stars{
        position: absolute;
        right: 32px;
        top: -1px;
        width: 720px;
        height: 675px;    
        animation: dots 4s infinite alternate;
    }   
    @keyframes dots{
        0% {
            transform: translateX(0) scale(1.0);
        }
        100% {
            transform: translateX(-40px) scale(1.1);
        }
    }

    #rays{
        position: absolute;
        top: 66px;
        right: -20px;
        width: 490px;
        height: 665px;
        animation: blink 4s infinite alternate;
    }

    @keyframes blink{
        0%{
            opacity: 100%;
        }
    
        100%{
            opacity: 0%;
        }
    }
}