@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&family=Source+Sans+3:wght@300&display=swap');



body, html{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: #ffffff;
}



.header{
    background-image: url(../assets/Background.jpg); 
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transform-style: preserve-3d;
    align-content: stretch;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}





@media(min-width:769px) and (max-width:1511px){
    #rays{
        display: none;
    }
    
    #stars{
        display: none;
    }
 }



@media(min-width:1512px){
    #stars{
        display: flex;
        position: absolute;
        top: 16px;
        left: 531px;
        width: 62%;
        height: 88.9%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 2;
        align-content: space-between;
        justify-content: space-between;
        animation: dots 4s infinite alternate;
    } 

    @keyframes dots{
        0% {
            transform: translateX(0) scale(1.0);
        }
        100% {
            transform: translateX(-40px) scale(1.1);
        }
    }

#rays{
    display: flex;
    position: absolute;
    top: 88px;
    left: 932px;
    width: 38%;
    height: 853px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
    align-content: space-between;
    justify-content: space-between;
    animation: blink 4s infinite alternate;
}

@keyframes blink{
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}
}


.header-nav > p{
    position: absolute;
    left: 110px;
    font-family: 'Source Sans Pro';
    letter-spacing: 3px;
    font-weight: 600;
    font-style: normal;
}

.header-list > ul{
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 2.8px;
    line-height: 16px; /* 114.286% */

}
.header-list > ul > li :hover{
    text-decoration: underline;
}

.header-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transform-style: preserve-3d;
}
.header-content > img{
    transition: all 1s ease;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.header-content > img:hover{
    transform: rotateY(180deg) scale(2);
    transition: all 1s ease;
}

.header-content > h1{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

.header-content > h2{
    color: #ffffff;
    opacity: 70%;
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    padding-bottom: 256px;
}

.headline{
    background-image:url(../assets/Rectangle\ 6.png);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    color: #ffffff;
    padding-bottom: 88px;
    padding-top: 65px;
}

.headline-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    font-size: 48px;
    color: black;
    font-weight: 700;
}

.headline-content > h2{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

.headline-content > h3{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
}

.headerline-p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 20px; 
}

.button-read{
    background-color: #55C2D8;
    border: solid #55C2D8;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
    transition: all 1s;
}

.button-read:hover{
    transition: all 1s;
    transform-origin: left bottom;
    transform: rotate(10deg);
}

.about{
    background-image: url(../assets/Third_Img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 88px;
    padding-bottom: 86px;
}
  

.about-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content > h2 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
}

.about-content > h3 {
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
}



.player-button{
    transition: all 0.5s ease;
    width: 150px;
    height: 150px;
    background-color: #39C2D7;
    border: solid #39C2D7;
    border-radius: 360px;
    color: white;
    font-size: 60px;
}

.player-button:hover{
    background-color: #fff;
    color: #39C2D7;
    border: solid #fff;
}

.player{
    padding-left: 10px;
    padding-top: 5px;
}

footer{
    background-color: #464547;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
}

.footer-content{
    display: grid;
    max-width: 1800px;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 65px;
    padding-top: 38px;
}

.project{
    font-size: 18px;
    color:#ffffff;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 4px;
    grid-column: 1;
}

.project > img{
    margin-right: 20px;
}

.footer-content > p{
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
}


.footer-content > p:nth-child(4){
    grid-column: 6;
}

.footer-content > p:not(:nth-child(4)){
    grid-column: 3;
}

.footer-content >p:nth-child(1){
    grid-column: 2;
}

